<header class="site-header">
  <%#= stylesheet_link_tag 'layouts', media: 'all', 'data-turbolinks-track': 'reload' %>
  <div class="wrapper site-header__wrapper">
    <div class="site-header__start">
      <a href="<%= root_path %>" class="brand">Rails_itegration</a>
    </div>
    <div class="site-header__middle">
      <nav class="nav">
        <button class="nav__toggle" aria-expanded="false" type="button">
          menu
        </button>
        <ul class="nav__wrapper">
          <li class="nav__item"><a href="<%= root_path %>">Home</a></li>
          <li class="nav__item"><a href="<%= posts_path %>">About</a></li>
          <li class="nav__item"><a href="<%= new_post_path %>">Services</a></li>
          <li class="nav__item"><a href="<%= posts_path %>">Hire us</a></li>
          <li class="nav__item"><a href="<%= posts_path %>">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="site-header__end">
      <a href="#">Sign in</a>
    </div>
  </div>
</header>


<script type="text/javascript">
  let navToggle = document.querySelector(".nav__toggle");
let navWrapper = document.querySelector(".nav__wrapper");

navToggle.addEventListener("click", function () {
  if (navWrapper.classList.contains("active")) {
    this.setAttribute("aria-expanded", "false");
    this.setAttribute("aria-label", "menu");
    navWrapper.classList.remove("active");
  } else {
    navWrapper.classList.add("active");
    this.setAttribute("aria-label", "close menu");
    this.setAttribute("aria-expanded", "true");
  }
});
</script>